@{
    Layout = "_LayoutGovernador";
    ViewData["Title"] = "Página inicial";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Requisições municipais</h1>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Em analise</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" 
                        asp-controller="Requisicao"
                        asp-action="Index"
                        asp-route-status="analise">Ver detalhes</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Aprovadas</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" 
                        asp-controller="Requisicao"
                        asp-action="Index"
                        asp-route-status="aprovada">Ver detalhes</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Reprovadas</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" 
                        asp-controller="Requisicao"
                        asp-action="Index"
                        asp-route-status="reprovada">Ver detalhes</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
