@model IEnumerable<AppMinhaBahia.Models.Prefeitura>

@{
    ViewData["Title"] = "Prefeituras";
    Layout = "_LayoutLateral";
}

<h1 class="mt-4">Prefeituras</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Voltar</a></li>
    <li class="breadcrumb-item active">Prefeituras</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        @if (Model.Count() > 0)
        {
            <table id="tabela" class="table">
                <thead>
                    <tr>
                        <th>UF</th>
                        <th>Verba municipal</th>
                        <th>Salario médio por funcionário</th>
                        <th>Ocorrências</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prefeitura in Model)
                    {
                        <tr>
                            <th>@prefeitura.UF.NomeUF</th>
                            <th>@prefeitura.VerbaMunicipal</th>
                            <th>@prefeitura.SalarioMedioPorFuncionario</th>
                            <th>@prefeitura.Ocorrencias.Count()</th>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Nenhuma prefeitura registrada</h3>
        }
    </div>
</div>