@{
    Layout = "_LayoutAutenticacao";
    ViewData["Title"] = "Não logado";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Faça login para continuar</h3>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary btn-block" asp-controller="Usuario"
                        asp-action="Cadastrar">Cadastrar</a>
                        <a class="btn btn-primary btn-block" asp-controller="Usuario" asp-action="Login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
